{% extends 'base.html' %}

{% load static %}
{% block title %}Home{% endblock %}
{% block active_account %}active{% endblock %}
{% block body %}


<div class="widget rounded col-md-6 col-lg-6" style="margin-left:auto; margin-right:auto; margin-top:40px; margin-bottom:40px;">
    <div class="widget-header text-center">
        <h3 class="widget-title">Login Here !!</h3>
    </div>

    <div class="widget-content">
<!--        <span class="newsletter-headline text-center mb-3">Join 50,000 subscribers</span>-->
        <form method="POST">
            {% csrf_token %}
            <div class="mb-2">

                <input type="text" name="username" class="form-control w-100 text-center mb-3"
                    placeholder="User Name">


                <input type="password" name="password" class="form-control w-100 text-center mb-3"
                    placeholder="***********">

            </div>
            <button type="submit" class="btn btn-default btn-full">Login</button>

        </form>
        <span class="newsletter-privacy text-center mt-3">
            Don't Have Account ?? <a href="{% url 'signup_function' %}">Signup</a>
        </span>

      <span class="newsletter-privacy text-center mt-3">
            forget password ?? <a href="{% url 'signup_function' %}">Change Password?</a>
        </span>
    </div>
</div>



{% endblock %}