{% extends 'base.html' %}

{% load static %}
{% block title %}Distance Converter - MonWriting{% endblock %}

{% block active_tools %}active{% endblock %}
{% block active_screen_home %}active{% endblock %}

{% block page_meta_description %}MonWriting is a programming blog offering a wide range of programming-related content, tutorials, and articles.{% endblock %}
{% block page_meta_keywords %}programming, coding, software development, programming languages, tutorials, development tips, coding resources, technology, web development, mobile development, Python, JavaScript, Java, C++, HTML, CSS, Git, algorithms, data structures, software engineering, computer science, debugging, frameworks, API, artificial intelligence, machine learning, data science, frontend, backend, databases, cloud computing, cybersecurity, best practices{% endblock %}

{% block body %}

        <!-- Tools content  -->
        <section class="main-content">
            <div class="container-xl">
                <div class="row ">
                    <div class="col-md-3">
                        <div class="">
                            <div class="widget rounded">
                                <div class="widget-about text-center">
                                    <img src="{% static '' %}images/Original Logo.png" alt="" class="logo" style="width: 40%;margin-bottom: 2px;">
                                    <a href="{% url 'Create_your_Own_Name_QR_code_for_Free' %}"><h6 class="mb-4 text-center" style="text-align: justify;">QR Code Generator</h6></a>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="">
                            <div class="widget rounded">
                                <div class="widget-about text-center">
                                    <img src="{% static '' %}images/Original Logo.png" alt="" class="logo" style="width: 40%;margin-bottom: 2px;">
                                    <a href="{% url 'Time_Coding' %}"><h6 class="mb-4 text-center" style="text-align: justify;">World Time</h6></a>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="">
                            <div class="widget rounded">
                                <div class="widget-about text-center">
                                    <img src="{% static '' %}images/Original Logo.png" alt="" class="logo" style="width: 40%;margin-bottom: 2px;">
                                    <a href="{% url 'Distance_Converter' %}"><h6 class="mb-4 text-center" style="text-align: justify;">Distance Converter</h6></a>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="">
                            <div class="widget rounded">
                                <div class="widget-about text-center">
                                    <img src="{% static '' %}images/Original Logo.png" alt="" class="logo" style="width: 40%;margin-bottom: 2px;">
                                    <a href="{% url 'Love_Calculator' %}"><h6 class="mb-4 text-center" style="text-align: justify;">Love Calculator</h6></a>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="">
                            <div class="widget rounded">
                                <div class="widget-about text-center">
                                    <img src="{% static '' %}images/Original Logo.png" alt="" class="logo" style="width: 40%;margin-bottom: 2px;">
                                    <a href="{% url 'Motivated_Quotes_Generator' %}"><h6 class="mb-4 text-center" style="text-align: justify;">Motivated Quotes Generator</h6></a>

                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-3">
                        <div class="">
                            <div class="widget rounded">
                                <div class="widget-about text-center">
                                    <img src="{% static '' %}images/Original Logo.png" alt="" class="logo" style="width: 40%;margin-bottom: 2px;">
                                    <a href="{% url 'Dynamic_Alphabet_Color' %}"><h6 class="mb-4 text-center" style="text-align: justify;">Dynamic Alphabet Color</h6></a>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>

{% endblock %}