{% extends 'base.html' %}

{% load static %}
{% block title %}Distance Converter - MonWriting{% endblock %}

{% block active_tools %}active{% endblock %}
{% block active_mobile_tools %}active{% endblock %}

{% block page_meta_description %}Monwriting tools, digital tools, gadgets, tools, QR code generatore, youtube video downloader.{% endblock %}
{% block page_meta_keywords %}Monwriting tools, digital tools, gadgets, tools, QR code generatore, youtube video downloader{% endblock %}

{% block body %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <!-- Tools content  -->
        <section class="main-content">
            <div class="container-xl">
                <div class="row ">
                    {% for product in get_all_products_pages %}
                    <div class="col-md-3">
                        <div class="">
                            <div class="widget rounded">
                                <div class="widget-about text-center">
                                    <img src="{{ product.image.url }}" alt="{{ product.Title }}" class="logo" style="width: 40%;margin-bottom: 2px;">
                                    <a href="{{ product.Title }}" target="_blank"><h6 class="mb-4 text-center" style="text-align: justify; color: #fff; background: #000000; border-radius: 25px; background-color: #000000;">{{ product.Title }}</h6></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>

{% endblock %}