{% extends 'base.html' %}

{% load static %}
{% block title %}ClickBank Products - MonWriting{% endblock %}

{% block active_tools %}active{% endblock %}
{% block active_mobile_tools %}active{% endblock %}

{% block page_meta_description %}Clickbank product list{% endblock %}
{% block page_meta_keywords %}Clickbank product list{% endblock %}

{% block body %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <!-- Tools content  -->
        <section class="main-content">
            <div class="container-xl">
                <div class="row ">
                    <div class="col-md-3">
                        <div class="">
                            <div class="widget rounded">
                                <div class="widget-about text-center">
                                    <img src="https://sugardefender24.com/assets/img/SUGARDEFENDERx1-500px.webp" alt="Sugar_Defender_product" class="logo" style="width: 40%;margin-bottom: 2px;">
                                    <a href="{% url 'Sugar_Defender_product' %}" target="_blank"><h6 class="mb-4 text-center" style="text-align: justify; color: #fff; background: #000000; border-radius: 25px; background-color: #000000;">Sugar Defender Product</h6></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="">
                            <div class="widget rounded">
                                <div class="widget-about text-center">
                                    <img src="https://trycortexi.com/assets/img/PRODx1-500px.png" alt="Sugar_Defender_product" class="logo" style="width: 40%;margin-bottom: 2px;">
                                    <a href="{% url 'Cortexi_Hearing_Support' %}" target="_blank"><h6 class="mb-4 text-center" style="text-align: justify; color: #fff; background: #000000; border-radius: 25px; background-color: #000000;">Cortexi Hearing Support</h6></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    {% for product in get_all_products_pages %}
                    <div class="col-md-3">
                        <div class="">
                            <div class="widget rounded">
                                <div class="widget-about text-center">
                                    <img src="{{ product.image.url }}" alt="{{ product.Title }}" class="logo" style="width: 40%;margin-bottom: 2px;">
                                    <a href="{% url 'product_landing_page' product.slug %}" target="_blank"><h6 class="mb-4 text-center" style="text-align: justify; color: #fff; background: #000000; border-radius: 25px; background-color: #000000;">{{ product.Title }}</h6></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>

{% endblock %}